<!DOCTYPE html>
<html>
	<head>
		<title>HRinder</title>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/angularApp.js"></script>
	</head>
	<body ng-app='App' ng-controller='AppController'>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h1>HR50 Tinder <span class="glyphicon glyphicon-fire"></span></h1>
				<span>You are currently logged in as <b>{{yourName}}</b>.</span>
				<p>
					<form>
						<span>Not {{yourName}}?</span>
						<input type='text' ng-model='newUser' placeholder='enter new username'></input>
						<button type='submit' ng-click='changeUser(newUser)'>Change User</button>
					</form>
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<ui-view></ui-view>
			</div>
		</div>

		<!-- User View -->
		<script type="text/ng-template" id="/home.html">
		<div class="matchView">
			<h4><span class="glyphicon glyphicon-heart"></span> Your Match <span class="glyphicon glyphicon-heart"></span></h4>
			<!-- Match View-->
			<h1>{{users[current].name}}</h1>
				<div>
					<img class="img-rounded" ng-src="{{picUrl}}"></img>
				</div>
			<span><b>Fun Fact:</b> {{users[current].description}}</span>
			<br>
			<div>
				<span><b>Upvotes:</b> {{users[current].votes}}</span> 
				<span ng-click='upvote(users[current])'class="glyphicon glyphicon-thumbs-up"></span>
			</div>
			<br>
			<button class="btn btn-default btn-sm" ng-click='likeUser(users[current])'>You're Hot!</button>

			<a ng-show='users[current].liked' href="#/chat">Chat!</a>
			<div class="next">
				<a href='' ng-click='nextUser()'>Next Match<span class="glyphicon glyphicon-chevron-right"></span></a>
			<div>
		</div>
		</script>

		<!-- Chat View -->
		<script type="text/ng-template" id="/chat.html">
			<div class='chatView'>
				<h3>You Liked {{to}}!</h3>
				<div class="chatRoom">
					<div ng-repeat='message in messages | filter: filterChat| orderBy:"createdAt" '>
						<div ng-class="message.from === to? 'message-to': 'message-from' "><b>{{message.from}}</b>: {{message.message}}</div>
					</div>
				</div>
				<p>
					<span>Send a message:</span>
					<form>
						<input type='text' ng-model='message' placeholder='Message here'></input>
						<button type='submit' class="btn btn-default btn-sm" ng-click='postMessage(message)'>Send</button>
					</form>
				</p>
				<a href='#/home'>Back</a>
			</div>
		</script>
	</div>
	</body>
</html>