.matchView, .col-md-6 {
  text-align: center;
}

.matchView {
  border: 2px solid;
  border-radius: 25px;
  background-color: #FDE3A7;
/*  background-image: url("http://images.all-free-download.com/images/graphiclarge/valentine_love_backgrounds_vector_set_528328.jpg")
*/}
